.chat-messages, .chat-user-list{
	background-color: #333;
	color:#AAA;
	padding:1em;
	max-height:100px;
	overflow:auto;
}
.chat-input {
	width:100%;
	padding:.3em;
}
.chat-box {
	width:200px;
	position:absolute;
	bottom:0px;
}
.chat-bar {
	position:fixed;
	bottom:0px;
	width:100%;
}
.chat-user-list {
	width:100px;
	position:absolute;
	bottom:0px;
}
